* {
    margin: 0;
    padding: 0;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #272635;
   height: 100vh;
}

.container {
    background-color: #E8E9F3;
    padding: 2rem;
    border-radius: 0.8rem;
    height: 52vh;
    width: 42vh;
    color: #272635;
}

form {
    margin: 2rem 0;
    
}

form input, select, button {
    width: 40.7vh;
    border-style: none;
    background-color: #E8E9F3;
    outline: none;
    border-radius: 0.4rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 0.5rem;
}

form input:focus {
    border: 1px solid gray;
}

form p {
    margin-bottom: 0.2rem;
}

.dropdown {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: gray;
}

.select-container{
    display: flex;
    width: 6.5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 0.4rem;
    padding: 0 0.4rem;

}

.select-container img {
    max-width: 2.5rem;
    padding-right: 0.5rem;
}

.select-container select {
    font-size: 1rem;
    cursor: pointer;
    color: #272635;
}

.msg {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    font-size: 1.2rem;
}

button {
    height: 2.5rem;
    background-color: #272635;
    width: 42vh;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #373645;
}

button:active {
    background-color: #171625;
}